
#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav {
    background: rgba(12, 10, 10, 0.58);
    padding: 12px;
}

.obrazokLoga {
    width: 100px;

}

.dropdown-menu {
    background: rgba(12, 10, 10, 0.93)
}

body {
    background-image: url("/Obrazky/PozadieVodopady.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    height: 100vh;
}


.prazdnyPosunVodopadyKarticky{
    margin-top: 3rem;
}

.nadpisVodopadyKarticky{
    text-align: center;
}

.kartickaVodopad{
    background-color: rgba(0, 0, 0, 0.68);
    border-radius: 2rem;
    margin-top: 3rem;
}

.obrazokVodopady{
    margin-top: 5rem;
}
.lavyObrazok{
    border-radius: 0 10rem 10rem 0;
    width: 100%;
    height: 19rem;
}

.pravyObrazok{
    border-radius: 10rem 0 0 10rem;
    width: 100%;
    height: 19rem;
}

.vodopadyContainer{
    width: 100%;
}

.nadpisVodopady{
    padding-top: 10rem;
    text-align: center;
}


.aplikovatTlac{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0.9rem;
}

.aplikovatTlac:hover {
    background-color: white;
    color: #0c0a0a;
}

.aplikovatTlac:after {
    background-color: #0c0a0a;
    color: white;
}

.aplikovatTlac:active {
    background-color: #0c0a0a;
    color: white;
}


