
#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav {
    background: #037582;
    padding: 12px;
}

.obrazokLoga {
    width: 100px;

}

body {
    background-image: url("/Obrazky/Pozadie3.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    height: 100vh;
}

/*.obrazokLoga {*/
/*    width: 100px;*/
/*}*/

.filtrovanie {

    padding-top: 12em;
}

.filtre {
    background-color: #214957;
    color: white;
}

.aplikovatTlac {
    width: 100%;
    background-color: #214957;
    color: white;
    border-width: 1px;
    border-color: white;
    margin-top: 1.5rem;
}



.aplikovatTlac:hover {
    background-color: white;
    color: #214957;
}

.aplikovatTlac:after {
    background-color: #214957;
    color: white;
}

.aplikovatTlac:active {
    background-color: #214957;
    color: white;
}

.karticka {
    background-color: rgba(0, 0, 0, 0.37);

    border-radius: 10px;
    padding: 20px; /* vnútorný okraj */
    margin: 0 0 20px 0; /* vonkajší okraj */

    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.karticka img {
    border-radius: 10px; /* zakrivené rohy pre obrázok */
    margin-bottom: 15px; /* priestor medzi obrázkom a textom */
    flex-shrink: 0;
    margin-top: -1rem;

}

.karticka {

    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kartickaNadpisy {
    font-size: 2rem;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-menuHlavnaStranka {
    background-color: #0e2d3a;
}

option {
    display: block;
    width: 50px !important;

}

.srdiecko {
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.4rem;

    width:  0;
    height: 0;
}

.zakliknuteSrdiecko {
    color: red;
    background-color: red;
}

