
#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav {
    background: #037582;
    padding: 12px;
}

.obrazokLoga {
    width: 100px;

}

body {
    background-image: url("/Obrazky/PozadieProfil1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    height: 100vh;
}

.navigacnyPanelInfo{
    font-size: 1.2rem;
    background-color: rgba(33, 73, 87, 0);
    margin-top: 15rem;
    margin-left: 6rem;
}

.navigacnyPanelInfo2{
    font-size: 1.2rem;
    background-color: rgba(33, 73, 87, 0);
    margin-top: 15rem;
    margin-left: -5.4rem;
}

.nadpisMojUcet{
    margin-left: 1rem;
    padding-bottom: 0.9rem;

}

/*body{*/
/*    background:black;*/
/*}*/

.formOpravnyFormular{
    width: 50rem;
    margin-top: 20rem;
    position: relative;
    top: -20px;
    background-color: rgba(33, 73, 87, 0.47);
    padding: 2rem;
    border-radius: 3rem;
}



.tlacitkoZmenaHesla:hover {
    background-color: rgba(255, 255, 255, 0.56);
    color: #214957;
    border-color: #214957;
}

.tlacitkoZmenaHesla {
    background-color: rgba(33, 73, 87, 0.55);
    border-color: black;
    border-width: 2px;
    width: 160px;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 2px;
    height: 40px;
    border-radius: 10px;
}


