
#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav {
    background: #037582;
    padding: 12px;
}

.obrazokLoga {
    width: 100px;

}

body {
    background-image: url("/Obrazky/PozadieDatabaza.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    height: 100vh;
}


.formPridaniaDoDatabazy{
    width: 30rem;
    margin-top: 18rem;
    position: relative;
    top: -20px;
    background-color: rgba(30, 9, 169, 0.76);
    padding: 2rem;
    border-radius: 3rem;
    margin-left: -5rem;
}




.tlacitkoZmenaHesla:hover {
    background-color: rgb(255, 255, 255);
    color: #1281a1;
    border-color: #1281a1;
}

.moznost{
    background-color: rgba(26, 5, 161, 0.89);
    border-radius:10rem;
}

.tlacitkoZmenaHesla {
    background-color: rgba(30, 9, 169, 0.47);
    border-width: 2px;
    width: 160px;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 2px;
    height: 40px;
    border-radius: 10px;

}

.formPridanie{
    width: 40rem;
    margin-left: 0rem;
}

.nadpisTabulky1{

    font-size: larger;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;

}

.nadpisTabulky{
    font-size: larger;
    margin-bottom: 1rem;

}

.formPridanie{
    width: 100%;
}

.tlacitkoPridaniePrispevku{
    background-color: rgba(30, 9, 169, 0.47);
    border-width: 2px;
    width: 160px;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 2px;
    height: 40px;
    border-radius: 10px;
}

.formMazanie{
    margin-top: 5rem;
    margin-left: 0rem;
}

.formPridanieChaty{
    width: 100%;
    margin-left: 0rem;
    margin-top: 2rem;
}

.textChaty{
    height: 20rem;
}

