#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav {
    background: rgba(12, 10, 10, 0.61);
    padding: 12px;
}
.dropdown-menuHlavnaStranka{
    background-color: rgba(0, 0, 0, 0.70);
    color: white;
}


.obrazokLoga {
    width: 100px;
}

body {
    background-image: url("/Obrazky/PozadieChaty.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    height: 100vh;
}
.odstavec{
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.62);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
    width: 90%;
    position: static;
    margin: auto;
}

@media (min-width: 768px) {
    .odstavec {
        width: 60%;

    }

    .mapaChaty {
        border-radius: 40px;
    }
}

.prazdnyPosunChatyKarticky{
    margin-top: 5rem;
}

.obrazokChaty{
    border-radius: 30px;
    height: auto;
    width: 100%;
    margin-bottom: 0.8rem;
}

.mapaChaty{
    border-radius: 40px;
    height: 13rem;
    margin:0rem;
    padding: 0rem;
}

.hlavnyNadpisChaty{
    font-size: 2rem;
    padding-top: 3rem;
}

.medzera{
    margin-top: 1.2rem;
}

.aplikovatTlac{
    background-color: rgba(0, 0, 0, 0.16);
    border-color: black;
    border-radius: 0.9rem;
}


.aplikovatTlac:hover {
    background-color: white;
    color: #0c0a0a;
}

.aplikovatTlac:after {
    background-color: #0c0a0a;
    color: white;
}

.aplikovatTlac:active {
    background-color: #0c0a0a;
    color: white;
}
